<div>
    <h2>Cleaners</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="cleaner.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Cleaner
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cleanerName"><span>Cleaner Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="floorPreferance"><span>Floor Preferance</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phoneNo"><span>Phone No</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cleaner in vm.cleaners track by cleaner.id">
                    <td><a ui-sref="cleaner-detail({id:cleaner.id})">{{cleaner.id}}</a></td>
                    <td>{{cleaner.cleanerName}}</td>
                    <td>{{cleaner.floorPreferance}}</td>
                    <td>{{cleaner.phoneNo}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="cleaner-detail({id:cleaner.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cleaner.edit({id:cleaner.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cleaner.delete({id:cleaner.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
